<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de <%= user.nombreUsuario %>
  </title>
  <link rel="icon" type="image/x-icon" href="./Imagenes/profilePic.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../Sources/prueba.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./Sources/style.css">
  <link rel="stylesheet" href="../Sources/Profile/profile.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <style>
    .colored-div {
      width: 100px;
      height: 100px;
      margin: 10px;
      border: 1px solid black;
      cursor: pointer;
    }

    #div1 {
      background-color: red;
    }

    #div2 {
      background-color: blue;
    }

    #div3 {
      background-color: green;
    }

    .selected {
      border: 3px solid black;
    }
  </style>

</head>

<body>


  <!-- Nav Bar -->
  <div class="container position-sticky z-index-sticky top-0">
    <nav
      class="navbar navbar-expand-lg blur top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4 rounded-5"
      style="background-color: #020b1c;opacity: 90%; justify-content: center; ">
      <div class="container-fluid" style="z-index: 3;">
        <picture>
          <source media="(min-width: 992px)" srcset="./imagenes/Logo2.svg" id="shake">
          <img src="./imagenes/Logo2v2.svg" onclick="audioPlay()" alt="" id="shake"
            style="height: 60px; width: 60px; margin-right: 5px;">

        </picture>
        <img id="logo-bar" src="./Imagenes/LogoBar.svg" alt="" style="height: 50px; margin-right: 5px;">
        <button class="navbar-toggler custom-toggler rounded-5" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" style="padding-left: 20px;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-underline" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="reveal-text nav-link" id="logo-text"
                style="color: #d38600; font-size:medium;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Queda
                  <font style="color: #ff5757;">Ya</font>
                </b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="linkPagina2">
                <font class="colorText">Crea tu evento</font>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <font class="colorText">FAQ's</font>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav text-align-right">
            <li class="nav-item"><a class="nav-link" <% if (user !=undefined) {%>
                href="/logout">
                <% }else{%>
                  href="/login">
                  <% } %>
                    <font class="colorText"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16"
                        style="margin-bottom: 5px; color: rgb(179, 36, 36);">
                        <path fill-rule="evenodd"
                          d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                        <path fill-rule="evenodd"
                          d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                      </svg>
                      <% if (user !=undefined) {%>
                        Cerrar Sesion
                        <% }else{%>
                          Login/Register
                          <% } %>
                    </font>
              </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- END Nav Bar -->

  <div class="m-2">
    <div class="card rounded-3"
      style="position: absolute; top: 50%; left: 5%; width: 90%; height: 900px; opacity: 95%;">
      <div class="card-body rounded-2" id="bodyCard" style="background-color: #010a1b;">
        <br><br><br><br><br><br>
        <font style="color: #c4d7e9;">
          <h1 style="text-align: center; color: #c4d7e9;">Bienvenido a tu perfil,
        </font>
        <font class="rainbow-text">
          <%= user.nombreUsuario%>!
        </font>
        </h1>
        <br>
        <div class="container-fluid" style="display: flex; flex-direction: row; justify-content: center;">
          <div class="card" style="width: 600px; height: 0 auto; ">
            <div class="card-body">
              <h3 class="card-title" style="text-align: center;">
                <font>Información personal</font>
              </h3>
              <br>
              <h6 class="card-subtitle mb-2">Nombre Completo:</h6>
              <p class="card-text">
                <font>
                  <%= user.nombre + " " + user.apellido %> <button type="button" class="btn btn-info"><i
                        class="bi bi-pencil-square"></i></button>
                </font>
              </p>
              <h6 class="card-subtitle mb-2">Nombre de usuario:</h6>
              <p class="card-text">
                <font>@<%= user.nombreUsuario %>
                </font>
              </p>
              <h6 class="card-subtitle mb-2">Correo electrónico:</h6>
              <p class="card-text">
                <font>
                  <%= user.email %>
                </font>
              </p>
              <h6 class="card-subtitle mb-2">Contraseña:</h6>
              <p class="card-text">
                <font>Modificar contraseña </font> <button type="button" class="btn btn-info"><i
                    class="bi bi-pencil-square"></i></button>
              </p>
              <h6 class="card-subtitle mb-2">DNI:</h6>
              <p class="card-text">
                <font>
                  <%= user.dni %>
                </font>
              </p>
              <h6 class="card-subtitle mb-2">Fecha de nacimiento:</h6>
              <p class="card-text">
                <font>
                  <% user.fecha_nacimiento %> <button type="button" class="btn btn-info"><i
                        class="bi bi-pencil-square"></i></button>
                </font>
              </p>
            </div>
          </div>
          <div class="card" style="width: 600px; height: 0 auto; margin-left: 30px;">
            <div class="card-body">
              <h3 class="card-title" style="text-align: center;">
                <font>Historial de compra</font>
              </h3>
              <% if (imagens !=null) { %>
                <% imagens.forEach(element=> {%>
                  <img src="uploads/<%= element.filename %>" alt="<%= element.path %>"
                    style="width: 150px; height: 150px;">
                  <% }); %>
                    <% } else{%>
                      <p class="card-text">
                        <font>No hay imagenes subidas</font>
                      </p>
                      <% }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="top: 50%; left: 50%; transform: translate(-50%, -50%);  opacity: 98%; position: absolute; z-index: 0;">
    <a class="btn" style="border-radius: 150px;" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
      aria-controls="offcanvasExample"><img
        style="border-radius: 150px; width: 300px;height: 300px; border: 5px solid #010a1b ; " <% if (user !=undefined)
        {%>
      <% if (user.nombre=="Marc" ) {%>
        src="../Imagenes/profilePic.jpg" alt="">
        <% }else{ %>
          src="../Imagenes/images.jpeg" alt="">
          <% } %>
            <% }else{%>
              src="../Imagenes/DefaultProfilePic.png" alt="">
              <% } %>
    </a>
  </div>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel" style="opacity: 90%;">
    <div class="offcanvas-header" style="background-color: #04193f;">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        <font>Menú de usuario</font>
      </h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color: #03112b;">
      <div>
        <p>
          <font>Cambiar foto de perfil</font> <button type="button" class="btn btn-info" data-bs-dismiss="offcanvas"
            aria-label="Close" data-bs-toggle="modal" data-bs-target="#fotoPerfil"><i
              class="bi bi-pencil-square"></i></button>
        </p>
        <p>
          <font>Cambiar fondo</font> <button type="button" class="btn btn-info" data-bs-dismiss="offcanvas"
            aria-label="Close" data-bs-toggle="modal" data-bs-target="#fotoBackground"><i
              class="bi bi-pencil-square"></i></button>
        </p>
        <p>
          <font>Subir fotos</font> <button type="button" class="btn btn-info" data-bs-dismiss="offcanvas"
            aria-label="Close" data-bs-toggle="modal" data-bs-target="#subirFoto"><i
              class="bi bi-pencil-square"></i></button>
        </p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="fotoPerfil" tabindex="-1" aria-labelledby="modalFotoPerfil" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalFotoPerfil">Cambiar foto de perfil</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if (imagens !=null) { %>
            <% imagens.forEach(element=> {%>
              <% if (element.id_usuario==user._id) { %>
                <img class="profile-image" src="uploads/<%= element.filename %>" alt="<%= element.path %>"
                  style="width: 150px; height: 150px; border-radius: 20px; margin: 1px;margin-bottom: 5px;">
                <% } %>
                  <% }); %>
                    <% } %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="fotoBackground" tabindex="-1" aria-labelledby="modalBackground" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalBackground">Cambiar fondo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
          <div id="div1" class="colored-div"></div>
          <div id="div2" class="colored-div"></div>
          <div id="div3" class="colored-div"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="subirFoto" tabindex="-1" aria-labelledby="modalSubirFoto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalSubirFoto">Subir imagenes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="http://localhost:3004/api/upload" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <input type="file" class="form-control" name="imagefield" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
              <input type="hidden" name="id_usuario" value="<%= user._id %>">
              <input type="hidden" name="rol" value="2">
              <input class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="Upload"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>







  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>

  <script>
    $(".profile-image").click(function () {
      var imagePath = $(this).attr("src");
      var userID = "123"; // reemplaza con el ID del usuario actual
      $.ajax({
        url: "/usuarios/" + userID,
        method: "PUT",
        data: {
          foto_perfil: imagePath
        },
        success: function (response) {
          // código para manejar la respuesta del servidor
        },
        error: function (xhr, status, error) {
          // código para manejar errores de la solicitud
        }
      });
    });

  </script>

  <script>
    const coloredDivs = document.querySelectorAll('.colored-div');

    coloredDivs.forEach(div => {
      div.addEventListener('click', function () {
        coloredDivs.forEach(div => {
          div.classList.remove('selected');
        });
        this.classList.add('selected');
        document.body.style.backgroundColor = this.style.backgroundColor;
      });
    });
  </script>

  <script>
    const myModal = document.getElementById('modal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus()
    })
  </script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>